<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart House 1.0</title>

	<style>
/* vietnamese */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url({{url_for('static', filename='mem9Ya2wxmKQyNGMb4YdcrgmVA.woff2')}}) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url({{url_for('static', filename='mem9Ya2wxmKQyNGMb4YccrgmVA.woff2')}}) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url({{url_for('static', filename='mem9Ya2wxmKQyNGMb4YScrg.woff2')}}) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'), url({{url_for('static', filename='memwYa2wxmKQyNkoTZMtUw.woff2')}}) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'), url({{url_for('static', filename='memwYa2wxmKQyNkpTZMtUw.woff2')}}) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'), url({{url_for('static', filename='memwYa2wxmKQyNknTZM.woff2')}}) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'), url({{url_for('static', filename='EJROQgErUN8XuHNEtX81i9TmEkrvretFyIw.woff2')}}) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'), url({{url_for('static', filename='EJROQgErUN8XuHNEtX81i9TmEkrvrOtFyIw.woff2')}}) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'), url({{url_for('static', filename='EJROQgErUN8XuHNEtX81i9TmEkrvoutF.woff2')}}) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Condensed Bold'), local('SairaCondensed-Bold'), url({{url_for('static', filename='EJRLQgErUN8XuHNEtX81i9TmEkrnGc5Q-K2fli0.woff2')}}) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Condensed Bold'), local('SairaCondensed-Bold'), url({{url_for('static', filename='EJRLQgErUN8XuHNEtX81i9TmEkrnGc5Q-a2fli0.woff2')}}) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Condensed Bold'), local('SairaCondensed-Bold'), url({{url_for('static', filename='EJRLQgErUN8XuHNEtX81i9TmEkrnGc5Q962f.woff2')}}) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(128,0,255);
    background: radial-gradient(circle, rgba(128,0,255,1) 0%, rgba(223,0,255,1) 50%, rgba(128,0,255,1) 100%);   
    overflow: hidden;
}

header>* {
    position: absolute;
}

header div.welcome {
    z-index: 1;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;

}

header div.welcome p {
    font-weight: bold;
    font-size: 40px;

}

header div.welcome h1 {
    font-size: 20px;
    font-weight: bold;
}

header div.welcome h2 {
    font-size: 20px;
    font-weight: normal;
}

header div.welcome button {
    margin-top: 30px;
    background-color: transparent;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
}

header img {
    max-width: 100%;
    bottom: 0;
    right: 0;
}

@media (min-width: 410px) and (orientation: portrait) {
    header div.welcome p {
        font-size: 60px;

    }

    header div.welcome h1 {
        font-size: 24px;
    }

    header div.welcome h2 {
        font-size: 24px;
    }

    header div.welcome button {
        font-size: 18px;
        border: 1px solid white;
        padding: 10px 20px;
    }

    header img {
        right: -10%;
    }
}

@media (min-width: 767px) and (orientation: portrait) {
    header div.welcome p {
        font-size: 70px;

    }

    header div.welcome h1 {
        font-size: 32px;
    }

    header div.welcome h2 {
        font-size: 32px;
    }

    header div.welcome button {
        font-size: 22px;
    }

    header img {
        height: 60%;
        /*        right: 0;*/
    }
}

@media (min-width: 532px) and (orientation: landscape) {
    header div.welcome {
        text-align: left;
        margin-left: 10%;
        top: 20%;

    }

    header img {
        height: 80%;
    }
}

@media (min-width: 1023px) and (orientation: landscape) {
    header div.welcome {
        top: 30%;

    }

    header div.welcome p {
        font-size: 60px;

    }

    header div.welcome h1 {
        font-size: 30px;
    }

    header div.welcome h2 {
        font-size: 30px;
    }

    header div.welcome button {
        font-size: 22px;
        -webkit-transition: .4s;
        transition: .4s;
        cursor: pointer;
    }

    header div.welcome button:hover {
        background-color: #fff;
        color: #111;
    }

    header img {
        max-width: 50%;
        height: auto;
        bottom: 30vh;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {

    header div.welcome p {
        font-size: 80px;

    }

    header div.welcome h1 {
        font-size: 40px;
    }

    header div.welcome h2 {
        font-size: 40px;
    }

    header div.welcome button {
        font-size: 30px;
        border: 1px solid white;
        padding: 10px 20px;
    }
}

@media (min-width: 1980px) and (orientation: landscape) {

    header div.welcome p {
        font-size: 120px;

    }

    header div.welcome h1 {
        font-size: 60px;
    }

    header div.welcome h2 {
        font-size: 60px;
    }

    header div.welcome button {
        font-size: 36px;
        border: 1px solid white;
        padding: 10px 20px;
    }
}

section.features {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10% 10px 0;
    max-width: 1600px;
    margin: 0 auto;
}

section.features h1 {
    text-transform: uppercase;
    font-size: 24px;
}

section.features img {
    width: 100%;
    max-width: 375px;
}

section.features h2 {
    text-transform: uppercase;
    font-size: 18px;
}

section.features p {
    font-family: 'Saira', sans-serif;
    padding: 6% 0;
    font-weight: 300;
    font-size: 12px;
}

@media (min-width: 410px) and (orientation: portrait) {
    section.features h1 {
        font-size: 30px;
    }

    section.features h2 {
        font-size: 22px;
    }

    section.features p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    section.features h1 {
        font-size: 50px;
    }

    section.features h2 {
        font-size: 36px;
    }

    section.features p {
        font-size: 24px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    section.features div.feature {
        float: left;
        width: 33%;
        padding: 5% 2%;
    }

    section.features h1 {
        font-size: 50px;
    }

    section.features h2 {
        font-size: 24px;
    }

    section.features p {
        font-size: 16px;
    }
}

@media (min-width: 1376px) and (orientation: landscape) {

    section.features h1 {
        font-size: 70px;
    }

    section.features h2 {
        font-size: 28px;
    }

    section.features p {
        font-size: 20px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {

    section.features h1 {
        font-size: 60px;
    }

    section.features h2 {
        font-size: 36px;
    }

    section.features p {
        font-size: 21px;
    }
}

section.projects {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Saira', sans-serif;
    padding-bottom: 5%;
}

section.projects h1 {
    font-size: 32px;
    font-family: 'Saira Condensed', sans-serif;
    display: block;
    padding: 4% 2%;
    text-transform: uppercase;
    text-align: center;
}

section.projects div.project {
    max-width: 1600px;
    margin: 0 auto 5%;
    ;
}

section.projects div.project h2 {
    display: block;
    padding: 5% 0 3% 0;
    margin-right: 5%;
    border-bottom: 1px solid white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

}

section.projects div.project p {
    display: block;
    padding: 5%;
    font-size: 12px;
    font-weight: 400;
}


section.projects div.project:nth-of-type(even) {
    background-color: rgba(223,0,255,1);
}

section.projects div.project:nth-of-type(odd) {
    background: rgb(128,0,255);;
}

section.projects div.project img {
    width: 100%
}

@media (min-width: 768px) and (orientation: portrait) {
    section.projects h1 {
        font-size: 60px;
    }

    section.projects div.project h2 {
        font-size: 38px;
    }

    section.projects div.project p {
        font-size: 24px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    section.projects div.project>* {
        max-width: 50%;
    }

    section.projects div.project:nth-child(even)>* {
        float: left;
    }

    section.projects div.project:nth-child(odd)>* {
        float: right;
    }

    section.projects h1 {
        font-size: 60px;
    }

    section.projects div.project h2 {
        font-size: 40px;
    }

    section.projects div.project:nth-of-type(even) h2 {
        margin-right: 0;
        margin-left: 5%;
    }

    section.projects div.project:nth-of-type(odd) h2 {
        padding-left: 5%;
    }

    section.projects div.project p {
        font-size: 20px;
    }
}

section.motto {
    background-image: url({{url_for('static', filename='motto.jpg')}});
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    background-size: cover;
}
section.motto.smart{
    background-image: url({{url_for('static', filename='motto.jpg')}});
}
section.motto.mqtt{
    background-image: url({{url_for('static', filename='mqtt.jpg')}});
}

.motto .bg {
    background-color: rgba(0, 63, 114, 0.5);
}

.motto h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'saira condensed', sans-serif;
    padding: 5% 0;
}

.motto .cytat {
    font-family: 'saira', sans-serif;
    padding: 0 5% 5% 10%;
    font-size: 12px;
}



@media (min-width: 533px) {
    .motto h1 {
        font-size: 28px;
    }

    .motto .cytat {
        max-width: 530px;
        margin: auto;
    }

    .motto .author {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .motto h1 {
        font-size: 60px;
    }

    .motto .cytat {
        max-width: 1000px;
        font-size: 28px;
        margin: auto;
    }

}

.hobbys h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: 'saira condensed', sans-serif;
    padding: 5% 0;
}

.hobbys .hobby {
    height: 30vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hobbys .hobby:nth-child(2) {
    background-image: url({{url_for('static', filename='hobby1.jpg')}});

}

.hobbys .hobby:nth-child(3) {
    background-image: url({{url_for('static', filename='hobby2.jpg')}});
}

.hobbys .hobby:nth-child(4) {
    background-image: url({{url_for('static', filename='hobby3.jpg')}});
}

.hobbys .hobby:nth-child(5) {
    background-image: url({{url_for('static', filename='hobby4.jpg')}});
}

.hobbys .hobby .tx {
    text-align: center;
    padding: 5% 0;
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'saira', sans-serif;
}

@media (orientation: landscape) {
    .hobbys .hobby .tx {
        padding: 2% 0;
        font-size: 16px;
    }
}

@media (min-width: 533px) and (orientation: landscape) {
    .hobbys {
        font-size: 0;
    }

    .hobbys .hobby {
        display: inline-block;
        width: 50%;
        height: 50vh;
    }
}


@media (min-width: 758px) {
    .hobbys h1 {
        font-size: 50px;
    }

    .hobbys .hobby .tx {
        padding: 2% 0;
        font-size: 30px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .hobbys h1 {
        font-size: 60px;
    }

    .hobbys .hobby .tx {
        padding: 0;
        font-size: 40px;
        line-height: 50vh;
        opacity: 0;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .hobbys .hobby:hover .tx {
        opacity: 1;
    }

    .hobbys .hobby {
        -webkit-transition: 1s;
        transition: 1s;
    }

    .hobbys .hobby:hover {
        background-size: 120%;
    }
}

.contact {
    background-color: #000;
    text-align: center;
    padding: 10% 10%;
}


.contact .mw {
    max-width: 1024px;
    margin: 0 auto;
}

.contact h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'saira condensed', sans-serif;
    color: white;
}
.contact h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'saira condensed', sans-serif;
    color: white;
}

.contact form {
    max-width: 512px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    height: 7vh;
    margin-top: 10%;
    padding: 3%;
    font-family: 'saira', sans-serif;
}

.contact form textarea {
    height: 24vh;
}

.contact form button {
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: 'saira', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5% 0;
    margin-top: 10%;
}

.contact .medias {
    margin-top: 10vh;
    max-width: 512px;
    color: white;
    font-family: 'saira', sans-serif;
    font-size: 14px;
}

.contact .media img,
.contact .media span {
    float: left;

}

.contact .media {
    padding: 5%;
    margin-left: 10%
}

.contact .media img {
    height: 36px;
    margin-right: 10%;
}

.contact .media span {
    line-height: 36px;
}

@media (min-width:768px) {
    .contact h1 {
        font-size: 60px;
    }
    .contact h2 {
        font-size: 24px;
    }

    .contact form,
    .contact .medias {
        float: left;
        width: 50%;
    }

    .contact .media img {
        height: 56px;
        margin-right: 10%;
    }

    .contact .media span {
        line-height: 56px;
        font-size: 18px;
    }

    .contact form input,
    .contact form textarea {
        font-size: 20px;
    }

    .contact form input {
        height: 5vh;
        padding: 3%;
    }

    .contact form button {
        cursor: pointer;
        font-size: 24px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .contact form button:hover {
        background-color: white;
        color: black;
    }
}

footer {
    height: 12vh;
    background: rgb(128,0,255);
    text-align: center;
    font-family: 'saira', sans-serif;
}

footer p {
    line-height: 12vh;
}
.schemat h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'saira condensed', sans-serif;
    color: white;
    background-color: #1e1e1e;
}
.schemat img{
    display: block;
    margin: 0 auto;
}
	</style>
</head>

<body>
    <header>
        <div class="welcome">
            <p>witaj!</p>
            <h1>jeśli tu jesteś,</h1>
            <h2>to na pewno zainteresował cię smart house</h2>
           <a href="{{ url_for('main') }}"> <button>Sprawdź nasz produkt</button></a>
        </div>
        <img src="{{url_for('static', filename='photo1.png')}}" alt="MQTT Smart Home Logo">
    </header>
    <section class="motto">
        <div class="bg">
            <h1>Smart House</h1>
            <p class="cytat">To nowoczesny system inteligentnego domu. Oprogramowanie dostępne jest przez przeglądarkę www. Pozwala na łatwe jak nigdy dotąd zapewnienie komfortu zarządzania Twoim domem. Smart House daje Ci natychmiastowy dostęp do Twoich danych z dowolnego miejsca na świecie. Jedyne czego potrzebujesz, to dowolne urządzenie z przeglądarką www. Dzięki przejrzystemu interfejsowi praca z systemem to czysta przyjemność. Ultrapłynne działanie i natychmiastowy dostęp do wszelkich danych zapewniają oszczędność czasu.</p>
        </div>
    </section>
    <section class="features clearfix">
        <h1>technologie z których korzysta smart house</h1>
        <div class="feature"><img src="{{url_for('static', filename='services1.png')}}" alt="serwis pierwszy">
            <h2>nowoczesne technologie webowe</h2>
            <p>Przejżysty interface zbudowany przy pomocy nowoczesnych technologii nie tylko rewelacyjnie wygląda, ale jest również gwarancją wygodnego użytkowania.</p>
        </div>
        <div class="feature"><img src="{{url_for('static', filename='services2.png')}}" alt="serwis drugi">
            <h2>MQTT</h2>
            <p>Prosty i lekki protokół transmisji danych, przeznaczony do transmisji dla urządzeń niewymagających dużej przepustowości. Dzięki niemu udało się znacząco obniżyć koszty instalacji.</p>
        </div>
        <div class="feature"><img src="{{url_for('static', filename='services3.png')}}" alt="serwis trzeci">
            <h2>Python</h2>
            <p>Język programowania, o rozbudowanym pakiecie bibliotek, którego ideą przewodnią jest czytelność i klarowność kodu źródłowego. Oparte na nim zaplecze aplikacji gwarantuje niezawodność oraz szybkie działanie.</p>
        </div>
    </section>
    <section class="schemat">
        <h1>schemat działania systemu</h1>
        <img src="{{url_for('static', filename='schemat.png')}}" alt="schemat działania systemu">
    </section>
    <section class="schemat">
        <h1>schemat połączeń urządzenia</h1>
        <img src="{{url_for('static', filename='schemat2.jpg')}}" alt="schemat działania systemu">
    </section>
    <section class="motto mqtt">
        <div class="bg">
            <h1>MQTT</h1>
            <p class="cytat">MQ Telemetry Transport (MQTT) – oparty o wzorzec publikacja/subskrypcja, ekstremalnie prosty, lekki protokół transmisji danych. Przeznaczony jest do transmisji dla urządzeń niewymagających dużej przepustowości. Poprzez ograniczenie prędkości transmisji, protokół zapewnia większą niezawodność. Protokół ten idealnie sprawdza się przy połączeniach maszyna-maszyna, w internecie rzeczy (IoT), w urządzeniach mobilnych, oraz tam, gdzie wymagana jest oszczędność przepustowości, oraz energii. Broker pełni rolę serwera, z którym łączą się klienci, aby za jego pośrednictwem publikować informacje. Każdy z klientów łączy się z brokerem, a następnie subskrybuje dany temat/tematy, może również publikować informacje w danym temacie. Kiedy klient opublikuje jakieś informacje, każdy klient, który subskrybuje ten sam temat, otrzyma tę informację. Tematy nie muszą być wcześniej tworzone, oraz mogą mieć dowolną nazwę. Z protokołu MQTT korzysta m.in. Facebook Messenger.</p>
        </div>
    </section>
    <section class="projects">
        <h1>Smart House to przede wszystkim</h1>
        <div class="project clearfix">
            <img src="{{url_for('static', filename='portfolio1.jpg')}}" alt="projekt pierwszy">
            <div class="desc">
                <h2>Aktualne dane</h2>
                <p>Zautomatyzowany pomiar parametrów wilgotności i temperatury pomieszczenia odbywa się co 10s, dzięki czemu masz zawsze dostęp do aktualnych danych.</p>
            </div>
        </div>
        <div class="project clearfix">
            <img src="{{url_for('static', filename='portfolio2.jpg')}}" alt="projekt pierwszy">
            <div class="desc">
                <h2>Totalna kontrola</h2>
                <p>Sam decydujesz, gdzie zamontujemy moduł sterowania. Kontroluj oświetlenie zarówno pomieszczeń jak i ogrodu lub podjazdu Twojego domu.</p>
            </div>
        </div>
        <div class="project clearfix">
            <img src="{{url_for('static', filename='portfolio3.jpg')}}" alt="projekt pierwszy">
            <div class="desc">
                <h2>Niezrównana mobilność</h2>
                <p>Do obsługi systemu Smart House potrzebujesz jedynie dowolnego urządzenia z dostępem do Internetu.</p>
            </div>
        </div>
        <div class="project clearfix">
            <img src="{{url_for('static', filename='portfolio4.jpg')}}" alt="projekt pierwszy">
            <div class="desc">
                <h2>Bezpieczeństwo</h2>
                <p>W trakcie korzystania z naszego systemu możesz liczyć na wsparcie inżynierów firmy Smart House.</p>
            </div>
        </div>
    </section>
    <section class="hobbys">
        <h1>Zamów jeden produkt i używaj gdzie chcesz</h1>
        <div class="hobby">
            <p class="tx">w salonie</span>
        </div>
        <div class="hobby">
            <p class="tx">w kuchni</span>
        </div>
        <div class="hobby">
            <p class="tx">w garażu</span>
        </div>
        <div class="hobby">
            <p class="tx">w ogrodzie</span>
        </div>
    </section>
    <section class="contact">
        <h1>Cena systemu już od 299zł brutto</h1>
        <h2>Zamów system poprzez formularz kontaktowy, a nasi monterzy zrealizują zamówienie w przeciągu 5 dni roboczych.</h2>
        <div class="mw clearfix">
            <form>
                <input type="text" placeholder="Twoje imię">
                <input type="text" placeholder="e-mail">
                <textarea placeholder="treść wiadomości"></textarea>
                <button>wyślij wiadomość</button>
            </form>
            <div class="medias">
                <div class="media clearfix"><img src="{{url_for('static', filename='contact1.png')}}" alt="kontakt1"><span>smarthouse@domena.pl</span></div>
                <div class="media clearfix"><img src="{{url_for('static', filename='contact2.png')}}" alt="kontakt2"><span>555-444-333</span></div>
                <div class="media clearfix"><img src="{{url_for('static', filename='contact3.png')}}" alt="kontakt3"><span>smarthouse</span></div>
                <div class="media clearfix"><img src="{{url_for('static', filename='contact4.png')}}" alt="kontakt4"><span>@smarthouse</span></div>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2020 Sylwia Wasiewicz Arkadiusz Trębaczewski Maciej Sobczyk</p>
    </footer>
</body>

</html>
