<!DOCTYPE html>
<head>
   <title>Czujnik temperatury i wilgotności</title>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&amp;subset=latin-ext" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
      	var socket = io.connect('http://' + document.domain + ':' + location.port);
      	socket.on('connect', function() {
          socket.emit('my event', {data: 'Nawiazano polaczenie!'});
      	});
      	socket.on('dht_temperature', function(msg) {
	  var nDate = new Date();
          $('#readingsUpdated').text(nDate.getHours() + ':' + nDate.getMinutes() +
             ':' + nDate.getSeconds()).html();
          $('#temperature').text(msg.data).html();
      	});
      	socket.on('dht_humidity', function(msg) {
          $('#humidity').text(msg.data).html();
      	});
      });
   </script>
   <style>
	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	body {
		background: rgb(223,0,255);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	body h1 {
		font-family: 'Saira Condensed', sans-serif;
		text-align: center;
		font-size: 48px;
		font-weight: 700;
		color: white;
		letter-spacing: 5px;
	}
	body h2 {
		font-family: 'Saira Condensed', sans-serif;
		text-align: center;
		font-size: 32px;
		color: white;
	}
	body h3 {
		font-family: 'Saira Condensed', sans-serif;
		text-align: center;
		font-size: 32px;
		color: white;
	}
	body a.btn{
		font-family: 'Saira Condensed', sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 5px;
		font-weight: 700;
		width: 30vw;
		margin: 0 50vw;
	}
</style>
</head>

<body>
   <h1>SmartHouse 1.0</h1>
   {% for pin in pins %}
   {% if pins[pin].name == "GPIO 4" %}
   <h2>Oświetlenie ogrodu
   {% else %}
   <h2>Oświetlenie podjazdu
   {% endif %}
   {% if pins[pin].state == 'True' %}
      jest aktualnie <strong>aktywne</strong></h2><div class="row"><div class="col-md-2">
      <a href="/esp8266/{{pin}}/0" class="btn btn-block btn-lg btn-default" role="button">Wyłącz</a></div></div>
   {% else %}
      jest aktualnie <strong>nieaktywne</strong></h2><div class="row"><div class="col-md-2">
      <a href="/esp8266/{{pin}}/1" class="btn btn-block btn-lg btn-primary" role="button">Włącz</a></div></div>
   {% endif %}
   {% endfor %}
   <h3>Odczyt z godziny <span id="readingsUpdated"></span></h3>
   <h3>Temperatura: <span id="temperature"></span>ºC</h3>
   <h3>Wilgotność: <span id="humidity"></span>%</h3>
</body>
</html>
